aiohttp>=3.7.1
bios>=0.1.2
certifi>=2021.10.8
dacite>=1.6.0
events>=0.3
pexpect>=4.8.0
pygatt>=4.0.5
transformers>=4.35.0
torch>=2.1.0
pytest>=7.4.4
evaluate>=0.4.1
black>=24.2.0
scikit_learn>=1.4.1
accelerate>=0.27.2 
phue>=1.1
websockets>=12.0
whisper-live
TTS>=0.22.0
faster-whisper>=0.10
pre-commit
invoke
commitizen
